

.director_row {text-align: left; margin-top: 2%;width: 100%;
                
                margin-left: auto;  
                }
.link {color:lightseagreen}

.director_container { margin-top: auto;}

.director_name {background-color: rgba(32,178,170,0.3);
                color: rgba(0,0,0,0.8);    
                
                }
                
.director_main {padding: 1%; border: solid whitesmoke thin;margin-top: 2%;}

