.director_row {width: 100%;
     border: solid black thin;
    }
.director_col {border: solid red thin;text-align: left;}



.img_container {border: solid red thin;
                height: 150px;
                white-space: nowrap;
                overflow-x: scroll;}
.div_img {border: solid blue thin;}
.director_img {width: 90%; height: 150px;}


.director_title {display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }


.director_button{border: none;}        