label {background-color: whitesmoke; width: 100%;
       height: 30px; 
        }
.button_edit{background-color: white; color: lightseagreen;}
.button_unregister {background-color: white; color: red;}
#button_cancel {background-color:white; 
                border: solid lightseagreen thin;
                color: lightseagreen;    
                display: none;
                }
#button_update {background-color: lightseagreen;
                margin-left: 1%;
                
                display: none;
                }

.button_back {margin-top: 2%;}

#date{  position: absolute;z-index: 1;
        left: 0;width: 100%; 
        height: 100%; 
        background-color:white;
        display: none;
        opacity: 0;
        transition: opacity 0.2s, transform 0.2s;
        transform: translateY(-10px);

        }

#dateContainer {position: relative;
                margin-top: 3%;
                margin-left: auto;
                margin-right: auto;
                
                
                }