.button_edit{background-color: white; color: lightseagreen;}
#button_cancel {background-color:white; 
                border: solid lightseagreen thin;
                color: lightseagreen;    
                display: none;
                }
#button_update {background-color: lightseagreen;
                margin-left: 1%;
                
                display: none;
                }

.button_back {margin-top: 2%;}