.previewImg {width: 80%; height: 60%;}
.button_card{width: 50%;
    background-color: blue; color: whitesmoke;
    border: none;
          }
.card {display: flex; 
       flex-direction: column; 
       justify-content: center;
       align-items: center;}      
      