.previewImg {width: 250px; height: 300px;}
.button_card{width: 50%;
    background-color: blue; color: whitesmoke;
    border: none;
          }
.card {display: flex; 
       flex-direction: column; 
       justify-content: center;
       margin-top: 1%; padding: 1%; 
       align-items: center;}      
      