#wrapper {
         height: auto; 
         margin-top: 2%;}


#movie_row {border: none;}
#other_info_row {border: none;}


.movie_view_h1 {text-align: center;}

#movie_description_container {background-color: rgba(32,178,170,0.1);
                              color: rgba(0,0,0,0.8);
                            }
.synopsis {text-align: justify; 
           
            }
.otherInfo {text-align: left;}
#director,#genre{color: lightseagreen;}
.p_favourites {color: rgba(0,0,0,0.7);}
#other_info_container {margin-top: 2%;
                        background-color: white;
                        width: 100%;}


#button_favourites_off,#button_favourites_on {background-color: white;
                                              color: lightseagreen;
                                              margin-top: 1%;  
                                             }

.favourites_icon {font-size: 2em;}

#back_row {border: none;}


img {width: 250px; height: 300px;}
