.container {
    margin-top: 1%; 
        }


#menu {transform: translateY(-10px);
opacity: 0;
display: none;
transition: opacity 0.3s,transform 0.3s;
}

.menu_item {margin-top: 0.5%; 
            text-align: center;

    }



