.container {
            margin-top: 1%; 
                }
.col {border: solid whitesmoke thin;}

#menu {transform: translateY(-10px);
       opacity: 0;
       display: none;
        transition: opacity 0.3s,transform 0.3s;}
.menu_item {text-align: center;margin-top: 0.5%;}




