#register {background-color: blue;
    color: whitesmoke;
    margin-top: 2%;
}

#col_back { text-align: center;}
#back{width: 100px;
      border: none;
      background-color: rgba(0,0,0,0.8);
      color: whitesmoke;  
      margin-top: 2%;
        }